.Nav{
    color:#f69d3c;
    background-color: MidnightBlue;
    font-size: 40px;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
    position: fixed;
}

.Nav a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    font-size: 30px;
}

.Nav a:hover {
    background: linear-gradient(0.25turn, MidnightBlue, #f69d3c);
}